<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增上货处理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-upprocess-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">选择产品：</label>
                <div class="col-sm-8">
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="Selectin()"><i class="fa fa-search"></i>&nbsp;选择产品</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">辐照批号：</label>
                <div class="col-sm-8">
                    <input name="radiNo" class="form-control" type="text" readonly required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">产品名称：</label>
                <div class="col-sm-8">
                    <input name="goodsName" class="form-control" type="text" readonly required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">产品批号：</label>
                <div class="col-sm-8">
                    <input name="goodsNo" class="form-control" type="text" readonly required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">产品规格：</label>
                <div class="col-sm-8">
                    <input name="goodsDime" class="form-control" type="text" readonly required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">货箱号：</label>
                <div class="col-sm-8">
                    <input name="boxNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">装货数量：</label>
                <div class="col-sm-8">
                    <input name="goodsNumber" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">装货人：</label>
                <div class="col-sm-8">
                    <input name="loadMan" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开始装货日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="startDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束装货日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="endDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注1：</label>
                <div class="col-sm-8">
                    <input name="note1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注2：</label>
                <div class="col-sm-8">
                    <input name="note2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注1：</label>
                <div class="col-sm-8">
                    <input name="note3" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/upprocess"
        $("#form-upprocess-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-upprocess-add').serialize());
            }
        }

        $("input[name='startDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        function Selectin() {
            var url = ctx + 'system/in/SelectIns2';
            $.modal.open("关联系统产品", url);
        }
    </script>
</body>
</html>