<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbCraftMapper">
    
    <resultMap type="TbCraft" id="TbCraftResult">
        <result property="id"    column="id"    />
        <result property="radiNo"    column="radi_no"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsNo"    column="goods_no"    />
        <result property="goodsDime"    column="goods_dime"    />
        <result property="guestName"    column="guest_name"    />
        <result property="arrangDate"    column="arrang_date"    />
        <result property="procDesc"    column="proc_desc"    />
        <result property="makeMan"    column="make_man"    />
        <result property="examMan"    column="exam_man"    />
        <result property="makeDate"    column="make_date"    />
        <result property="startDate"    column="start_date"    />
        <result property="endTime"    column="end_time"    />
        <result property="note1"    column="note1"    />
        <result property="note2"    column="note2"    />
        <result property="note3"    column="note3"    />
    </resultMap>

    <sql id="selectTbCraftVo">
        select id, radi_no, goods_name, goods_no, goods_dime, guest_name, arrang_date, proc_desc, make_man, exam_man, make_date, start_date, end_time, note1, note2, note3 from tb_craft
    </sql>

    <select id="selectTbCraftList" parameterType="TbCraft" resultMap="TbCraftResult">
        <include refid="selectTbCraftVo"/>
        <where>  
            <if test="radiNo != null  and radiNo != ''"> and radi_no = #{radiNo}</if>
            <if test="guestName != null  and guestName != ''"> and guest_name = #{guestName}</if>
        </where>
    </select>
    
    <select id="selectTbCraftById" parameterType="Long" resultMap="TbCraftResult">
        <include refid="selectTbCraftVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbCraft" parameterType="TbCraft" useGeneratedKeys="true" keyProperty="id">
        insert into tb_craft
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no,</if>
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no,</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime,</if>
            <if test="guestName != null and guestName != ''">guest_name,</if>
            <if test="arrangDate != null">arrang_date,</if>
            <if test="procDesc != null and procDesc != ''">proc_desc,</if>
            <if test="makeMan != null and makeMan != ''">make_man,</if>
            <if test="examMan != null and examMan != ''">exam_man,</if>
            <if test="makeDate != null and makeDate != ''">make_date,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endTime != null">end_time,</if>
            <if test="note1 != null">note1,</if>
            <if test="note2 != null">note2,</if>
            <if test="note3 != null">note3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">#{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">#{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">#{goodsDime},</if>
            <if test="guestName != null and guestName != ''">#{guestName},</if>
            <if test="arrangDate != null">#{arrangDate},</if>
            <if test="procDesc != null and procDesc != ''">#{procDesc},</if>
            <if test="makeMan != null and makeMan != ''">#{makeMan},</if>
            <if test="examMan != null and examMan != ''">#{examMan},</if>
            <if test="makeDate != null and makeDate != ''">#{makeDate},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="note1 != null">#{note1},</if>
            <if test="note2 != null">#{note2},</if>
            <if test="note3 != null">#{note3},</if>
         </trim>
    </insert>

    <update id="updateTbCraft" parameterType="TbCraft">
        update tb_craft
        <trim prefix="SET" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no = #{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no = #{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime = #{goodsDime},</if>
            <if test="guestName != null and guestName != ''">guest_name = #{guestName},</if>
            <if test="arrangDate != null">arrang_date = #{arrangDate},</if>
            <if test="procDesc != null and procDesc != ''">proc_desc = #{procDesc},</if>
            <if test="makeMan != null and makeMan != ''">make_man = #{makeMan},</if>
            <if test="examMan != null and examMan != ''">exam_man = #{examMan},</if>
            <if test="makeDate != null and makeDate != ''">make_date = #{makeDate},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="note1 != null">note1 = #{note1},</if>
            <if test="note2 != null">note2 = #{note2},</if>
            <if test="note3 != null">note3 = #{note3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbCraftById" parameterType="Long">
        delete from tb_craft where id = #{id}
    </delete>

    <delete id="deleteTbCraftByIds" parameterType="String">
        delete from tb_craft where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>