<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbGoodsMapper">
    
    <resultMap type="TbGoods" id="TbGoodsResult">
        <result property="id"    column="id"    />
        <result property="radiNo"    column="radi_no"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsNo"    column="goods_no"    />
        <result property="goodsDime"    column="goods_dime"    />
    </resultMap>

    <sql id="selectTbGoodsVo">
        select id, radi_no, goods_name, goods_no, goods_dime from tb_goods
    </sql>

    <select id="selectTbGoodsList" parameterType="TbGoods" resultMap="TbGoodsResult">
        <include refid="selectTbGoodsVo"/>
        <where>  
            <if test="radiNo != null  and radiNo != ''"> and radi_no = #{radiNo}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name  = #{goodsName}</if>
            <if test="goodsNo != null  and goodsNo != ''"> and goods_no = #{goodsNo}</if>
            <if test="goodsDime != null  and goodsDime != ''"> and goods_dime = #{goodsDime}</if>
        </where>
    </select>
    
    <select id="selectTbGoodsById" parameterType="Long" resultMap="TbGoodsResult">
        <include refid="selectTbGoodsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbGoods" parameterType="TbGoods" useGeneratedKeys="true" keyProperty="id">
        insert into tb_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no,</if>
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no,</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">#{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">#{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">#{goodsDime},</if>
         </trim>
    </insert>

    <update id="updateTbGoods" parameterType="TbGoods">
        update tb_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no = #{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no = #{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime = #{goodsDime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbGoodsById" parameterType="Long">
        delete from tb_goods where id = #{id}
    </delete>

    <delete id="deleteTbGoodsByIds" parameterType="String">
        delete from tb_goods where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>