<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbGuestMapper">
    
    <resultMap type="TbGuest" id="TbGuestResult">
        <result property="guestId"    column="guest_id"    />
        <result property="guestNumber"    column="guest_number"    />
        <result property="guestName"    column="guest_name"    />
        <result property="contact"    column="contact"    />
        <result property="tel"    column="tel"    />
    </resultMap>

    <sql id="selectTbGuestVo">
        select guest_id, guest_number, guest_name, contact, tel from tb_guest
    </sql>

    <select id="selectTbGuestList" parameterType="TbGuest" resultMap="TbGuestResult">
        <include refid="selectTbGuestVo"/>
        <where>  
            <if test="guestNumber != null  and guestNumber != ''"> and guest_number = #{guestNumber}</if>
            <if test="guestName != null  and guestName != ''"> and guest_name  =  #{guestName}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
            <if test="tel != null  and tel != ''"> and tel = #{tel}</if>
        </where>
    </select>
    
    <select id="selectTbGuestById" parameterType="Long" resultMap="TbGuestResult">
        <include refid="selectTbGuestVo"/>
        where guest_id = #{guestId}
    </select>
        
    <insert id="insertTbGuest" parameterType="TbGuest" useGeneratedKeys="true" keyProperty="guestId">
        insert into tb_guest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guestNumber != null and guestNumber != ''">guest_number,</if>
            <if test="guestName != null and guestName != ''">guest_name,</if>
            <if test="contact != null and contact != ''">contact,</if>
            <if test="tel != null">tel,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guestNumber != null and guestNumber != ''">#{guestNumber},</if>
            <if test="guestName != null and guestName != ''">#{guestName},</if>
            <if test="contact != null and contact != ''">#{contact},</if>
            <if test="tel != null">#{tel},</if>
         </trim>
    </insert>

    <update id="updateTbGuest" parameterType="TbGuest">
        update tb_guest
        <trim prefix="SET" suffixOverrides=",">
            <if test="guestNumber != null and guestNumber != ''">guest_number = #{guestNumber},</if>
            <if test="guestName != null and guestName != ''">guest_name = #{guestName},</if>
            <if test="contact != null and contact != ''">contact = #{contact},</if>
            <if test="tel != null">tel = #{tel},</if>
        </trim>
        where guest_id = #{guestId}
    </update>

    <delete id="deleteTbGuestById" parameterType="Long">
        delete from tb_guest where guest_id = #{guestId}
    </delete>

    <delete id="deleteTbGuestByIds" parameterType="String">
        delete from tb_guest where guest_id in 
        <foreach item="guestId" collection="array" open="(" separator="," close=")">
            #{guestId}
        </foreach>
    </delete>

</mapper>