<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbInMapper">

    <resultMap type="TbIn" id="TbInResult">
        <result property="id"    column="id"    />
        <result property="radiNo"    column="radi_no"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsNo"    column="goods_no"    />
        <result property="goodsDime"    column="goods_dime"    />
        <result property="guestName"    column="guest_name"    />
        <result property="singleWeight"    column="single_weight"    />
        <result property="inNum"    column="In_num"    />
        <result property="sendMan"    column="send_man"    />
        <result property="carNumber"    column="car_number"    />
        <result property="deliDate"    column="deli_date"    />
        <result property="payModel"    column="pay_model"    />
        <result property="custRequire"    column="cust_require"    />
        <result property="receiveMan"    column="receive_man"    />
        <result property="price"    column="price"    />
        <result property="note1"    column="note1"    />
        <result property="nowStatus"    column="now_status"    />
        <result property="note2"    column="note2"    />
        <result property="note3"    column="note3"    />
    </resultMap>

    <sql id="selectTbInVo">
        select id, radi_no, goods_name, goods_no, goods_dime, guest_name, single_weight, In_num, send_man, car_number, deli_date, pay_model, cust_require, receive_man, price, note1, now_status, note2, note3 from tb_in
    </sql>

    <select id="selectTbInList" parameterType="TbIn" resultMap="TbInResult">
        <include refid="selectTbInVo"/>
        <where>
            <if test="radiNo != null  and radiNo != ''"> and radi_no = #{radiNo}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsNo != null  and goodsNo != ''"> and goods_no = #{goodsNo}</if>
            <if test="guestName != null  and guestName != ''"> and guest_name = #{guestName}</if>
            <if test="nowStatus != null "> and now_status = #{nowStatus}</if>
        </where>
    </select>
    <select id="selectTbIn" parameterType="TbIn" resultMap="TbInResult">
        <include refid="selectTbInVo"/>
        <where>
            <if test="radiNo != null  and radiNo != ''"> and radi_no = #{radiNo}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsNo != null  and goodsNo != ''"> and goods_no = #{goodsNo}</if>
            <if test="guestName != null  and guestName != ''"> and guest_name = #{guestName}</if>
            <if test="nowStatus != null "> and now_status = #{nowStatus}</if>
        </where>
    </select>

    <select id="selectTbInById" parameterType="Long" resultMap="TbInResult">
        <include refid="selectTbInVo"/>
        where id = #{id}
    </select>

    <insert id="insertTbIn" parameterType="TbIn" useGeneratedKeys="true" keyProperty="id">
        insert into tb_in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no,</if>
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no,</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime,</if>
            <if test="guestName != null and guestName != ''">guest_name,</if>
            <if test="singleWeight != null">single_weight,</if>
            <if test="inNum != null">In_num,</if>
            <if test="sendMan != null and sendMan != ''">send_man,</if>
            <if test="carNumber != null and carNumber != ''">car_number,</if>
            <if test="deliDate != null">deli_date,</if>
            <if test="payModel != null and payModel != ''">pay_model,</if>
            <if test="custRequire != null and custRequire != ''">cust_require,</if>
            <if test="receiveMan != null and receiveMan != ''">receive_man,</if>
            <if test="price != null">price,</if>
            <if test="note1 != null">note1,</if>
            <if test="nowStatus != null">now_status,</if>
            <if test="note2 != null">note2,</if>
            <if test="note3 != null">note3,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">#{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">#{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">#{goodsDime},</if>
            <if test="guestName != null and guestName != ''">#{guestName},</if>
            <if test="singleWeight != null">#{singleWeight},</if>
            <if test="inNum != null">#{inNum},</if>
            <if test="sendMan != null and sendMan != ''">#{sendMan},</if>
            <if test="carNumber != null and carNumber != ''">#{carNumber},</if>
            <if test="deliDate != null">#{deliDate},</if>
            <if test="payModel != null and payModel != ''">#{payModel},</if>
            <if test="custRequire != null and custRequire != ''">#{custRequire},</if>
            <if test="receiveMan != null and receiveMan != ''">#{receiveMan},</if>
            <if test="price != null">#{price},</if>
            <if test="note1 != null">#{note1},</if>
            <if test="nowStatus != null">#{nowStatus},</if>
            <if test="note2 != null">#{note2},</if>
            <if test="note3 != null">#{note3},</if>
        </trim>
    </insert>

    <update id="updateTbIn" parameterType="TbIn">
        update tb_in
        <trim prefix="SET" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no = #{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no = #{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime = #{goodsDime},</if>
            <if test="guestName != null and guestName != ''">guest_name = #{guestName},</if>
            <if test="singleWeight != null">single_weight = #{singleWeight},</if>
            <if test="inNum != null">In_num = #{inNum},</if>
            <if test="sendMan != null and sendMan != ''">send_man = #{sendMan},</if>
            <if test="carNumber != null and carNumber != ''">car_number = #{carNumber},</if>
            <if test="deliDate != null">deli_date = #{deliDate},</if>
            <if test="payModel != null and payModel != ''">pay_model = #{payModel},</if>
            <if test="custRequire != null and custRequire != ''">cust_require = #{custRequire},</if>
            <if test="receiveMan != null and receiveMan != ''">receive_man = #{receiveMan},</if>
            <if test="price != null">price = #{price},</if>
            <if test="note1 != null">note1 = #{note1},</if>
            <if test="nowStatus != null">now_status = #{nowStatus},</if>
            <if test="note2 != null">note2 = #{note2},</if>
            <if test="note3 != null">note3 = #{note3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbInById" parameterType="Long">
        delete from tb_in where id = #{id}
    </delete>

    <delete id="deleteTbInByIds" parameterType="String">
        delete from tb_in where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>