<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbOutMapper">
    
    <resultMap type="TbOut" id="TbOutResult">
        <result property="id"    column="id"    />
        <result property="radiNo"    column="radi_no"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsNo"    column="goods_no"    />
        <result property="goodsDime"    column="goods_dime"    />
        <result property="guestName"    column="guest_name"    />
        <result property="singleWeight"    column="single_weight"    />
        <result property="outNum"    column="out_num"    />
        <result property="takeMan"    column="take_man"    />
        <result property="takeTel"    column="take_tel"    />
        <result property="carNumber"    column="car_number"    />
        <result property="carryCompany"    column="carry_company"    />
        <result property="outMan"    column="out_man"    />
        <result property="outDate"    column="out_date"    />
        <result property="note1"    column="note1"    />
        <result property="note2"    column="note2"    />
        <result property="note3"    column="note3"    />
    </resultMap>

    <sql id="selectTbOutVo">
        select id, radi_no, goods_name, goods_no, goods_dime, guest_name, single_weight, out_num, take_man, take_tel, car_number, carry_company, out_man, out_date, note1, note2, note3 from tb_out
    </sql>

    <select id="selectTbOutList" parameterType="TbOut" resultMap="TbOutResult">
        <include refid="selectTbOutVo"/>
        <where>  
            <if test="radiNo != null  and radiNo != ''"> and radi_no = #{radiNo}</if>
            <if test="guestName != null  and guestName != ''"> and guest_name = #{guestName}</if>
            <if test="outDate != null "> and out_date = #{outDate}</if>
        </where>
    </select>
    
    <select id="selectTbOutById" parameterType="Long" resultMap="TbOutResult">
        <include refid="selectTbOutVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbOut" parameterType="TbOut" useGeneratedKeys="true" keyProperty="id">
        insert into tb_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no,</if>
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no,</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime,</if>
            <if test="guestName != null and guestName != ''">guest_name,</if>
            <if test="singleWeight != null">single_weight,</if>
            <if test="outNum != null">out_num,</if>
            <if test="takeMan != null and takeMan != ''">take_man,</if>
            <if test="takeTel != null and takeTel != ''">take_tel,</if>
            <if test="carNumber != null and carNumber != ''">car_number,</if>
            <if test="carryCompany != null and carryCompany != ''">carry_company,</if>
            <if test="outMan != null and outMan != ''">out_man,</if>
            <if test="outDate != null">out_date,</if>
            <if test="note1 != null">note1,</if>
            <if test="note2 != null">note2,</if>
            <if test="note3 != null">note3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">#{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">#{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">#{goodsDime},</if>
            <if test="guestName != null and guestName != ''">#{guestName},</if>
            <if test="singleWeight != null">#{singleWeight},</if>
            <if test="outNum != null">#{outNum},</if>
            <if test="takeMan != null and takeMan != ''">#{takeMan},</if>
            <if test="takeTel != null and takeTel != ''">#{takeTel},</if>
            <if test="carNumber != null and carNumber != ''">#{carNumber},</if>
            <if test="carryCompany != null and carryCompany != ''">#{carryCompany},</if>
            <if test="outMan != null and outMan != ''">#{outMan},</if>
            <if test="outDate != null">#{outDate},</if>
            <if test="note1 != null">#{note1},</if>
            <if test="note2 != null">#{note2},</if>
            <if test="note3 != null">#{note3},</if>
         </trim>
    </insert>

    <update id="updateTbOut" parameterType="TbOut">
        update tb_out
        <trim prefix="SET" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no = #{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no = #{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime = #{goodsDime},</if>
            <if test="guestName != null and guestName != ''">guest_name = #{guestName},</if>
            <if test="singleWeight != null">single_weight = #{singleWeight},</if>
            <if test="outNum != null">out_num = #{outNum},</if>
            <if test="takeMan != null and takeMan != ''">take_man = #{takeMan},</if>
            <if test="takeTel != null and takeTel != ''">take_tel = #{takeTel},</if>
            <if test="carNumber != null and carNumber != ''">car_number = #{carNumber},</if>
            <if test="carryCompany != null and carryCompany != ''">carry_company = #{carryCompany},</if>
            <if test="outMan != null and outMan != ''">out_man = #{outMan},</if>
            <if test="outDate != null">out_date = #{outDate},</if>
            <if test="note1 != null">note1 = #{note1},</if>
            <if test="note2 != null">note2 = #{note2},</if>
            <if test="note3 != null">note3 = #{note3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbOutById" parameterType="Long">
        delete from tb_out where id = #{id}
    </delete>

    <delete id="deleteTbOutByIds" parameterType="String">
        delete from tb_out where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>