<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbTurnProcessMapper">
    
    <resultMap type="TbTurnProcess" id="TbTurnProcessResult">
        <result property="id"    column="id"    />
        <result property="radiNo"    column="radi_no"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsNo"    column="goods_no"    />
        <result property="goodsDime"    column="goods_dime"    />
        <result property="boxNo"    column="box_no"    />
        <result property="turnMan"    column="turn_man"    />
        <result property="turnDate"    column="turn_date"    />
        <result property="note1"    column="note1"    />
        <result property="note2"    column="note2"    />
        <result property="note3"    column="note3"    />
    </resultMap>

    <sql id="selectTbTurnProcessVo">
        select id, radi_no, goods_name, goods_no, goods_dime, box_no, turn_man, turn_date, note1, note2, note3 from tb_turn_process
    </sql>

    <select id="selectTbTurnProcessList" parameterType="TbTurnProcess" resultMap="TbTurnProcessResult">
        <include refid="selectTbTurnProcessVo"/>
        <where>  
            <if test="radiNo != null  and radiNo != ''"> and radi_no = #{radiNo}</if>
            <if test="turnMan != null  and turnMan != ''"> and turn_man = #{turnMan}</if>
        </where>
    </select>
    
    <select id="selectTbTurnProcessById" parameterType="Long" resultMap="TbTurnProcessResult">
        <include refid="selectTbTurnProcessVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbTurnProcess" parameterType="TbTurnProcess" useGeneratedKeys="true" keyProperty="id">
        insert into tb_turn_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no,</if>
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no,</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime,</if>
            <if test="boxNo != null and boxNo != ''">box_no,</if>
            <if test="turnMan != null and turnMan != ''">turn_man,</if>
            <if test="turnDate != null">turn_date,</if>
            <if test="note1 != null">note1,</if>
            <if test="note2 != null">note2,</if>
            <if test="note3 != null">note3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">#{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">#{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">#{goodsDime},</if>
            <if test="boxNo != null and boxNo != ''">#{boxNo},</if>
            <if test="turnMan != null and turnMan != ''">#{turnMan},</if>
            <if test="turnDate != null">#{turnDate},</if>
            <if test="note1 != null">#{note1},</if>
            <if test="note2 != null">#{note2},</if>
            <if test="note3 != null">#{note3},</if>
         </trim>
    </insert>

    <update id="updateTbTurnProcess" parameterType="TbTurnProcess">
        update tb_turn_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="radiNo != null and radiNo != ''">radi_no = #{radiNo},</if>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="goodsNo != null and goodsNo != ''">goods_no = #{goodsNo},</if>
            <if test="goodsDime != null and goodsDime != ''">goods_dime = #{goodsDime},</if>
            <if test="boxNo != null and boxNo != ''">box_no = #{boxNo},</if>
            <if test="turnMan != null and turnMan != ''">turn_man = #{turnMan},</if>
            <if test="turnDate != null">turn_date = #{turnDate},</if>
            <if test="note1 != null">note1 = #{note1},</if>
            <if test="note2 != null">note2 = #{note2},</if>
            <if test="note3 != null">note3 = #{note3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbTurnProcessById" parameterType="Long">
        delete from tb_turn_process where id = #{id}
    </delete>

    <delete id="deleteTbTurnProcessByIds" parameterType="String">
        delete from tb_turn_process where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>